@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
    overflow: scroll;          /* Ensures the content is scrollable */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}
